/*
 * Nightw0rk
 */
#datepicker-night-div{
  width:300px;
  font-size:0.6em;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 5px 2px , 0, 0, 0.5);
  box-shadow: 1px 1px 5px 2px , 0, 0, 0.5);
  height:250px;
  position:absolute;
  overflow:auto;
  display:none;
}
#datepicker-night-div-month{
  display:inline-block;
}
#datepicker-night-div-header
{
  line-height:24px;
  height:24px;
}
#datepicker-night-div-header span
{
    width:24px;
    height:24px;
    display: inline-block;

    text-align:center;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
span.weekend
{
color:red
}
#datepicker-night-div-week{}
#datepicker-night-div-day{
    width:24px;
    height:24px;
    display: inline-block;
    line-height:24px;
    text-align:center;
}
.datepicker-night-div-empty-day
{
  background-color:transparent !important;
}
.datepicker-night-div-week-not-full
{
  margin-top:-28px;
}
.datepicker-night-div-month-even #datepicker-night-div-day
{
  background-color:#fecda0;
}
.datepicker-night-div-month-odd #datepicker-night-div-day
{
  background-color:#99ff0f;
}
.month-title
{
  float:right;
  display:block;
  height: 72px;
  text-align: center;
  width: 95px;
  line-height: 72px;
}

