.weekend {
  color: red;
}
#datepicker-night-div-header {
  line-height: 36px;
  height: 36px;
}
#datepicker-night-div-header span {
  line-height: 36px;
  width: 36px;
  height: 36px;
  text-align: center;
  display: inline-block;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.datepicker-night-div-month {
  display: inline-block;
}
.datepicker-night-div-month.even .datepicker-night-div-day {
  background-color: #f6f7f9;
}
.datepicker-night-div-month.odd .datepicker-night-div-day {
  background-color: #ffffff;
}
.datepicker-night-div-day {
  line-height: 36px;
  width: 36px;
  height: 36px;
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  z-index: 2;
}
.datepicker-night-div-day.empty-day {
  background-color: transparent !important;
  z-index: 1;
}
.datepicker-night-div-day.empty-day:hover {
  background-color: transparent !important;
}
.datepicker-night-div-day.selected {
  background-color: rgba(52, 52, 150, 0.3) !important;
}
.datepicker-night-div-day.weekend.selected {
  color: #ffd8d7;
}
.datepicker-night-div-day.weekend.selected .subText:hover {
  color: #fff;
}
.datepicker-night-div-day:hover {
  background-color: #0475bf !important;
  cursor: pointer;
  border-radius: 2px;
  color: #fff;
}
.datepicker-night-div-day .day-text {
  pointer-events: none;
  display: block;
  line-height: 17px;
  width: 36px;
  height: 27.5px;
}
.datepicker-night-div-day .subText {
  pointer-events: none;
  position: absolute;
  font-size: 8px;
  left: 4.5px;
  text-align: center;
  text-transform: uppercase;
  bottom: -8px;
}
#datepicker-night-div-week.not-full {
  margin-top: -45px;
}
.month-title {
  float: right;
  display: block;
  height: 108px;
  text-align: center;
  width: 95px;
  line-height: 108px;
}
#datepicker-night-div {
  width: 384px;
  font-size: 15.789473684210527px;
  height: 250px;
  position: absolute;
  display: none;
  border: 1px solid #000;
  background-color: #ffffff;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4), 0 0 0 4px rgba(59, 80, 59, 0.3);
  padding: 5px;
}
#datepicker-night-div #datepicker-night-div-wrap {
  overflow: hidden;
  display: inline-block;
  height: 212px;
  width: 373px;
  webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#datepicker-night-div #datepicker-night-div-wrap.viewport {
  position: relative;
}
#datepicker-night-div #datepicker-night-div-wrap .overview {
  list-style: none;
  position: absolute;
  left: 0;
  right: 0;
}
#datepicker-night-div-scroll {
  height: 212px;
  display: inline-block;
  width: 9px;
  webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#datepicker-night-div-scroll .track {
  background-color: #eee;
  border-radius: 5px;
}
#datepicker-night-div-scroll #datepicker-night-div-scroll-slider {
  background-color: dodgerblue;
  width: 100%;
  height: 42.4px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  position: relative;
  cursor: default;
  webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#datepicker {
  border-radius: 2px;
  width: 127px;
  cursor: pointer;
  webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  z-index: 1;
  background: #eef1f4;
  border: solid 1px #003c66;
  border-radius: 3px;
  border: 1px solid #555;
  font: bold 20px/34px "Open Sans", Verdana, sans-serif;
}
#datepicker .date-holder {
  display: inline-block;
  width: 90px;
}
input.show-for-mobile {
  display: none;
}
@media screen and (max-width: 767px) {
  #datepicker {
    z-index: 0;
    cursor: default;
    background: none;
    border: none;
  }
  #datepicker span,
  #datepicker .date-holder {
    display: none;
  }
  #datepicker input {
    z-index: 1;
    display: inline-block;
  }
}
