@day-default-height: 36;
@back-color: #fff;
.cube() {
  line-height: @day-default-height*1px;
  height: @day-default-height*1px;
  width: @day-default-height*1px;
  height: @day-default-height*1px;
  text-align: center;
  display: inline-block;
}

.notSelect() {
  webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.weekend {
  color: red;
}

#datepicker-night-div-header {
  line-height: @day-default-height*1px;
  height: @day-default-height*1px;
  span {
    .cube();
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
  }
}

.datepicker-night-div-month {
  display: inline-block;
  &.even .datepicker-night-div-day {
    background-color: rgb(246, 247, 249);
  }
  &.odd .datepicker-night-div-day {
    background-color: @back-color;
  }

}

.datepicker-night-div-day {
  .cube();
  position: relative;
  display: inline-block;
  text-align: center;
  border-radius: 2px;
  z-index: 2;
  &.empty-day {
    background-color: transparent !important;
    z-index: 1;
    &:hover {
      background-color: transparent !important;
    }
  }
  &.selected {
    background-color: rgba(52, 52, 150, 0.3) !important;
  }
  &.weekend.selected {
    color: #ffd8d7;
    .subText:hover {
      color: #fff;
    }
  }
  &:hover {
    background-color: #0475bf !important;
    cursor: pointer;
    border-radius: 2px;
    color: #fff;
  }
  .day-text {
    pointer-events: none;
    display: block;
    line-height: 17px;
    width: @day-default-height*1px;
    height: @day-default-height - (17px/2);
  }
  .subText {
    pointer-events: none;
    position: absolute;
    font-size: 8px;
    left: @day-default-height/8px;
    text-align: center;
    text-transform: uppercase;
    bottom: -8px;
  }

}

#datepicker-night-div-week {
  &.not-full {
    margin-top: (@day-default-height+@day-default-height/4)*-1px;
  }

}

.month-title {
  float: right;
  display: block;
  height: @day-default-height*3px;
  text-align: center;
  width: 95px;
  line-height: @day-default-height*3px;
}

#datepicker-night-div {
  width: @day-default-height*7+132px;
  font-size: @day-default-height/2.28px;
  height: 250px;
  position: absolute;
  display: none;
  border: 1px solid #000;
  background-color: @back-color;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.4), 0 0 0 4px rgba(59, 80, 59, 0.3);
  padding: 5px;
  #datepicker-night-div-wrap {
    overflow: hidden;
    display: inline-block;
    height: 250px - (@day-default-height+2);
    width: (@day-default-height*7+132px)-@day-default-height/4px-2px;
    webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &.viewport {
      position: relative;
    }
    .overview {
      list-style: none;
      position: absolute;
      left: 0;
      right: 0;
    }
  }
}

#datepicker-night-div-scroll {
  height: 250px - (@day-default-height+2);
  display: inline-block;
  width: @day-default-height/4px;
  webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  .track {
    background-color: #eee;
    border-radius: 5px;
  }
  #datepicker-night-div-scroll-slider {
    background-color: dodgerblue;
    width: 100%;
    height: (250px - (@day-default-height+2))/5;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    cursor: default;
    .notSelect();
  }
}

#datepicker {
  border-radius: 2px;
  width: 127px;
  cursor: pointer;
  .notSelect();
  position: relative;
  z-index: 1;
  background: #eef1f4;
  border: solid 1px #003c66;
  border-radius: 3px;
  border: 1px solid #555;
  font: bold 20px/34px "Open Sans", Verdana, sans-serif;
  .date-holder {
    display: inline-block;
    width: 90px;
  }

}

input.show-for-mobile {
  display: none;
}

@media screen and (max-width: 767px) {
  #datepicker {
    z-index: 0;
    cursor: default;
    background: none;
    border: none;
    span, .date-holder {
      display: none;
    }
  }

  #datepicker input {
    z-index: 1;
    display: inline-block;
  }
}
